body {
	animation: fadeit 2s ease-in;
	background-repeat: no-repeat;
}
::-webkit-scrollbar {
	display: none;
}
.navbar {
	background-color:#e9ecef;
}
@keyframes fadeit {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fontmag {
	33%  { color: rgb(226, 62, 62);  }
	66%  { color: rgb(34, 88, 158); }
  100% { color:rgb(79, 187, 70);  }
}
.jumbotron {
	padding: 10rem 2rem !important;
}
.parlx {
	background-image: url("main.jpg");
	min-height: 500px;
	position:relative;
  	opacity:0.80;
 	background-position:center;
  	background-size:cover;
  	background-repeat:no-repeat;
  	background-attachment:fixed;
}
.data .col-lg-4 {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 1.5rem;
	text-align: center;
}
.data h2 {
	font-weight: 400;
}
.data .col-lg-4 p {
	margin-right: 1rem;
	margin-left: 1rem;
}
.navbar-nav > a {
	font-size:20px;
	margin-left:15px;
	margin-right:15px;
	padding-bottom: 0%;
	padding-top: 5px;
}
.navbar-nav > a:hover {
	animation: fontmag 1.5s;
	animation-fill-mode: forwards;
}
.one {
	height: 100%;
	opacity:0; 	
	animation: fadeit 2s ease-in 2s forwards;
}
.two {
	height: 100%;
	opacity:0; 	
	animation: fadeit 2s ease-in 3s forwards;
}
.three {
	height: 100%;
	opacity:0; 	
	animation: fadeit 2s ease-in 4s forwards;
}
.one,.two,.three > p{
	font-size: 1rem;
}
