body {
	animation: fadeit 2s ease-in;
	background-repeat: no-repeat;
}
::-webkit-scrollbar {
	display: none;
}
.navbar {
	background-color:#e9ecef;
}
@keyframes fadeit {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fontmag {
  33%  { color: rgb(226, 62, 62);  }
  66%  { color: rgb(34, 88, 158); }
  100% { color:rgb(79, 187, 70);  }
}
.carousel1,.carousel2,.carousel3,.carousel4 {
	padding: 10rem 2rem !important;
	border-radius: 0px!important;
	min-height: 550px;
	background-image: url("main.jpg");
	background-position:center;
	background-size:cover;
	background-repeat: repeat-y;
  	background-attachment:fixed;
}
.parlx1 {
	background-image: url("hope.jpg");
	min-height: 400px;
	position:relative;
  	opacity:0.90;
 	background-position:center;
  	background-size:cover;
  	background-repeat:no-repeat;
  	background-attachment:fixed;
}
.parlx2 {
	background-image: url("hands.jpg");
	min-height: 400px;
	position:relative;
  	opacity:0.90;
 	background-position:center;
  	background-size:cover;
  	background-repeat:no-repeat;
  	background-attachment:fixed;
}
.data .col-lg-4, .data .col-lg-12, .data .col-lg-8, .data .col-lg-6 p {
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 1.5rem;
	text-align: center;
}
.data h2 {
	font-weight: 500;
	margin-bottom: 10px;
}
.data h3 {
	font-weight: 400;
	margin-top: .5rem;
}
.data .col-lg-4 p, .data .col-lg-12 p, .data .col-lg-8 p, .data .col-lg-6 p {
	margin-right: 1rem;
	margin-left: 1rem;
}
.navbar-nav > a {
	font-size:20px;
	margin-left:10px;
	padding-bottom: 0%;
	padding-top: 0px;
}
.navbar-nav > a:hover {
	animation: fontmag 1.5s;
	animation-fill-mode: forwards;
}
.one {
	height: 100%;
	opacity:0; 	
	animation: fadeit 2s ease-in 2s forwards;
}
.one >.row >.col-lg-4{
	padding-top: 10px;
	padding-bottom: 0px;
}
.two {
	height: 100%;
	opacity:0; 	
	animation: fadeit 2s ease-in 3s forwards;
}
.three {
	height: 100%;
	opacity:0; 	
	animation: fadeit 2s ease-in 4s forwards;
}
.one,.two,.three > p{
	font-size: 1rem;
}
.footer {
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
  }