body {
	animation: fadeit 2s ease-in;
	background-repeat: no-repeat;
	font-family: 'Varela Round', sans-serif;
}
.navbar {
	background-color:#e9ecef;
	padding-top: 2px;
	padding-bottom: 2px;
}
@keyframes fadeit {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fontmag {
	0% { color: inherit;   }
  100% { color: white;  }
}
.caro {
	padding: 5.5rem 2rem !important;
	border-radius: 0px!important;
	min-height: 550px;
	background-position:center;
	background-size:cover;
	background-repeat: repeat-y;
  	background-attachment:fixed;
}
.carousel1 {
	background-image: url("main.jpg");
}
.carousel2 {
	background-image: url("give.jpg");
}
.carousel3 {
	background-image: url("go.jpg");
}
.carousel4 {
	background-image: url("get.jpg");
}
.parlx1 {
	background-image: url("give.jpg");
	min-height: 400px;
	position:relative;
  	opacity:0.90;
 	background-position:center;
  	background-size:cover;
  	background-repeat:no-repeat;
  	background-attachment:fixed;
}
.parlx2 {
	background-image: url("hands.jpg");
	min-height: 400px;
	position:relative;
  	opacity:0.90;
 	background-position:center;
  	background-size:cover;
  	background-repeat:no-repeat;
  	background-attachment:fixed;
}
.data .col-lg-12, .data .col-lg-8, .data .col-lg-6 {
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 1.5rem;
	text-align: center;
}
.data h2 {
	font-weight: 500;
	margin-bottom: 25px;
}
.data h3 {
	font-weight: 400;
	margin-top: .5rem;
}
.data .col-lg-4 p, .data .col-lg-12 p, .data .col-lg-8 p, .data .col-lg-6 p {
	margin-right: 1rem;
	margin-left: 1rem;
	font-size: 1rem;
}
.navbar-nav > a {
	font-size:20px;
	margin-left:10px;
	background-color: transparent;
	padding-right: 15px !important;
	padding-left: 15px !important;
	border-radius: 50px;
	color: inherit;
	transition:border-color,color,background-color 0.8s linear; 
}
.navbar-nav > a:hover {
	color: white !important;
	border-radius: 50px;
	border-color: rgba(173, 78, 236, 0.911);
	background-color: rgb(173, 78, 236, 0.911);
	animation: fontmag .8s;
	animation-fill-mode: forwards;
}
.head {
	margin-bottom: 0px;
}
.sub {
	margin-bottom: 20px;
}
.one {
	height: 100%;
	opacity:0; 	
	animation: fadeit 2s ease-in 2s forwards;
}
.one >.row >.col-lg-6{
	padding-top: 10px;
	padding-bottom: 0px;
}
.white {
	color: #e9ecef;
}
.blue {
	color: rgb(2, 183, 255);
}
.green {
	color: rgb(40, 197, 34);
}
.red {
	color: rgb(248, 23, 23);
}
.two {
	height: 100%;
	opacity:0; 	
	animation: fadeit 2s ease-in 3s forwards;
}
.one,.two > p{
	font-size: 1.2rem;
}
.footer {
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
  }
/*carousel fade only*/ 
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
	 opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
	opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
   }